/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--bg-grad);
  font-family: var(--Inter);
  font-variation-settings: "wght" var(--s-size);
}

.inline-size {
  inline-size: var(--clamp);
}

/* хэдер */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border: 2px solid var(--black);
  block-size: 372px;
  margin-block-start: 98px;
  margin-block-end: 96px;
}

.header__title {
  font-size: var(--h1-clamp);
}

.header__subtitle {
  font-size: var(--h2-clamp);
}

.header__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  gap: 20px;
  font-family: var(--PressStart2P);
  text-transform: uppercase;
  font-weight: 400; /*зам на переменную */
}

/* card */

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: 2px solid var(--black);
}

.card__title {
  font-variation-settings: "wght" var(--l-size);
  padding: 5px 10px;
  font-size: 17px;
  line-height: 1.2;
  border-bottom: 2px solid var(--black);
  word-spacing: 0.5px;
  letter-spacing: 0.4px;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--PressStart2P);
  font-size: 14px;
  color: black;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--white);
  text-stroke: 1px var(--white);
}

@supports not (
  (text-stroke: 1px var(--white)) or (-webkit-text-stroke: 1px var(--white))
) {
  .card__label {
    color: #000000;
    text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
      1px -1px 0 #ffffff;
  }
}

.card__description {
  display: flex;

  flex-direction: column;
  margin: 25px;
  gap: 25px;
}

.card__text {
  font-family: var(--Inter);
  font-size: 18px;
  font-weight: var(--s-size);
  line-height: 21px;
  margin: 0;
}

.buttons {
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 8.1px;
}

.card__icon-button {
  display: flex;
  align-items: center;

  padding: 0;
  border: none;
  background-color: transparent;

  block-size: min-content;
  cursor: pointer;
  transition: 0.3s ease;
}

.like-icon {
  min-inline-size: 39px;
  block-size: auto;
}

.card__like-button {
  border: 2px solid var(--accent-color);
  background-color: transparent;
  line-height: 90%;
  block-size: 38px;
  inline-size: 130px;
}

.button__text {
  line-height: 50%;
  font-family: var(--PressStart2P);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
}

.button {
  cursor: pointer;
  position: relative;
  border-style: none;
  overflow: hidden;
  border: 2px solid var(--black);
  background-color: var(--white);
  transition: 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--black);
  inset: 0;
  translate: -100% 0%;
  transition: 0.5s ease-in-out;
}

.button:hover::before {
  translate: 0% 0%;
}

.button__text {
  mix-blend-mode: difference;
  color: var(--white);
}

.button_type_save {
  border: 2px solid var(--black);
  background-color: var(--white);
  align-self: center;
  margin-block-start: 50px;
  margin-block-end: 100px;
  block-size: 55px;
  inline-size: 335px;
}

.button_type_ok {
  margin-block-start: 30px;
  block-size: 38px;
  inline-size: 293px;
  font-weight: 400;
  transition: 0.3s ease;
}

.floppy-button {
  inline-size: 21px;
  block-size: auto;
  mix-blend-mode: difference;
  color: var(--white);
}

.save {
  display: flex;
  font-family: var(--PressStart2P);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 90%;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* диалог */

.dialog {
  padding: 0;
  border: 2px solid var(--black);
  background-color: white;
  max-inline-size: 357px;
  inline-size: 100%;
  margin: auto;
}

.dialog::backdrop {
  backdrop-filter: brightness(75%);
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.dialog__text {
  display: flex;
  align-items: center;
  block-size: 63px;
  inline-size: 293px;
  gap: 20px;
}

.dialog__title {
  font-family: var(--PressStart2P);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
}

.floppy-dialog {
  min-inline-size: 39px;
  block-size: 39px;
}

@media (width <= 375px) {
  .header {
    block-size: 327px;
    inline-size: 375px;
    margin-block-start: 100px;
    margin-block-end: 101px;
  }

  .inline-size {
    inline-size: 375px;
  }

  .button_type_save {
    inline-size: 306px;
    block-size: 84px;
  }

  .dialog {
    max-inline-size: 341px;
  }

  .dialog__content {
    padding: 30px 40px;
  }

  .dialog__text {
    inline-size: 257px;
  }

  .button_type_ok {
    inline-size: 257px;
    block-size: 38px;
  }

  .save {
    flex-direction: column;
  }

  .floppy-button {
    inline-size: 28px;
  }

  .button_type_ok {
    inline-size: 261px;
    block-size: 38px;
  }
}

/* картинки и филтры */
.card__image {
  position: relative;
  block-size: clamp(23.3125rem, 16.1602rem + 30.5164vw, 43.625rem);
  border-bottom: 2px solid var(--black);
}

.post-image {
  width: 100%;
  overflow: hidden;
  display: block;
}

.filter-1 {
  filter: brightness(30%);
}

.filter-2 {
  filter: contrast(200%);
}

.filter-3 {
  filter: grayscale(80%);
}

.filter-4 {
  filter: hue-rotate(0.5turn);
}

.filter-5 {
  filter: invert(100%);
}

.filter-6 {
  float: sepia(0.6);
  filter: opacity(80%);
}

.filter-7 {
  filter: saturate(390%);
}

.button:focus:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--black);
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--black);
}

.contour {
  transition: 0.1s linear 0s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.06s;
}

.main-body {
  transition: 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--black);
  transition: 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.05s;
}

.core {
  transition: 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--black);
  transition: 0.3s linear 0s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0s;
}

.sparks {
  opacity: 0%;
}

.like-icon.is-liked .heart {
  animation: increase 0.3s ease-in 1;
  animation-delay: 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 1;
  animation-delay: 0.3s;
}
