/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--themes-background);
  font-family: var(--main-font-family);
  font-variation-settings: "wght" var(--font-weight-text);
}

/* header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border: 2px solid var(--themes-main-color);
  block-size: 372px;
  margin-block-start: 98px;
  margin-block-end: 96px;
}

.header__title {
  font-size: var(--header-title-font-size);
}

.header__subtitle {
  font-size: var(--header-subtitle-font-size);
}

.header__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  gap: 20px;
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  font-weight: var(--font-weight-text);
}

/* cards */

.cards {
  /*весь контент */
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: 2px solid var(--themes-main-color);
}

.card__title {
  font-variation-settings: "wght" var(--font-weight-title);
  padding: 5px 10px;
  font-size: 17px;
  line-height: 1.2;
  border-bottom: 2px solid var(--themes-main-color);
  word-spacing: 0.5px;
  letter-spacing: 0.4px;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font-family);
  font-size: 14px;
  color: var(--themes-main-color);
  opacity: 50%;
  mix-blend-mode: hard-light;

  -webkit-text-stroke: 1px var(--background-color);
  text-stroke: 1px var(--background-color);
  text-shadow: -1px -1px 0 var(--background-color),
    1px -1px 0 var(--background-color), -1px 1px 0 var(--background-color),
    1px 1px 0 var(--background-color);
}

/*  контейнер для текста */
.card__description {
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 25px;
}

.card__text {
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: var(--font-weight-text);
  line-height: 21px;
  margin: 0;
}

.buttons {
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 8px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  block-size: min-content;
  cursor: pointer;
  transition: 0.3s ease;
}

.like-icon {
  min-inline-size: 39px;
  block-size: auto;
}

.card__like-button {
  border: 2px solid var(--themes-accent-color);
  background-color: transparent;
  line-height: 90%;
  block-size: 38px;
  inline-size: 130px;
}

.button__text {
  line-height: 50%;
  font-family: var(--accent-font-family);
  font-weight: var(--font-weight-text);
  font-size: 13px;
  letter-spacing: 1px;
  mix-blend-mode: difference;
  color: var(--floppy-color);
}

.button {
  cursor: pointer;
  position: relative;
  border-style: none;
  overflow: hidden;
  border: 2px solid var(--themes-main-color);
  background-color: var(--background-color);
  transition: 0.3s ease;
}

.button_type_save {
  border: 2px solid var(--themes-main-color);
  background-color: var(--background-color);
  align-self: center;
  margin-block-start: 50px;
  margin-block-end: 100px;
  block-size: 55px;
  inline-size: 335px;
}

.button_type_ok {
  margin-block-start: 30px;
  block-size: 38px;
  inline-size: 293px;
  font-weight: var(--font-weight-text);
  transition: 0.3s ease;
}

.floppy-button {
  inline-size: 21px;
  block-size: auto;
  mix-blend-mode: difference;
  color: var(--floppy-color);
}

.save-style {
  display: flex;
  font-family: var(--accent-font-family);
  font-weight: var(--font-weight-text);
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 90%;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

/* dialog */

.dialog {
  padding: 0;
  border: 2px solid var(--themes-main-color);
  background-color: var(--background-color);
  max-inline-size: 357px;
  inline-size: 100%;
  margin: auto;
}

.dialog::backdrop {
  backdrop-filter: brightness(75%);
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog__content {
  display: flex;
  flex-direction: column;

  padding: 30px;
}

.dialog[open] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog__text {
  display: flex;
  align-items: center;
  block-size: 63px;
  inline-size: 293px;
  gap: 20px;
}

.dialog__title {
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 150%;
  font-weight: var(--font-weight-text);
}

/* дискета */
.floppy-dialog {
  min-inline-size: 39px;
  block-size: 39px;
}

/* mobile */
@media (width <= 375px) {
  .header {
    block-size: 327px;
    inline-size: 375px;
    margin-block-start: 100px;
    margin-block-end: 101px;
  }

  .inline-size {
    inline-size: 375px;
  }

  .button_type_save {
    inline-size: 306px;
    block-size: 84px;
  }

  .dialog {
    max-inline-size: 341px;
  }

  .dialog__content {
    padding: 30px 40px;
  }

  .dialog__text {
    inline-size: 257px;
  }

  .button_type_ok {
    inline-size: 257px;
    block-size: 38px;
  }

  .save-style {
    flex-direction: column;
  }

  .floppy-button {
    inline-size: 28px;
  }
}

/* browsers */
@supports not (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .card__label {
    color: var(--themes-main-color);
    text-shadow: 1px 1px 0 var(--background-color),
      -1px -1px 0 var(--background-color), -1px 1px 0 var(--background-color),
      1px -1px 0 var(--background-color);
  }
}

/* картинки и фильтры */
.card__image {
  position: relative;
  block-size: clamp(23.3125rem, 16.1602rem + 30.5164vw, 43.625rem);
  border-bottom: 2px solid var(--themes-main-color);
}

.card__image-size {
  width: 100%;
  overflow: hidden;
  display: block;
}

/* Карточка 1 */
.filter-interest {
  filter: brightness(120%) contrast(130%) saturate(140%);
}

/* Карточка 2 */
.filter-excitement {
  filter: blur(1.5px);
}

/* Карточка 3 */
.filter-shock {
  filter: invert(100%);
}

/* Карточка 4 */
.filter-sadness {
  filter: sepia(80%);
}

/* Карточка 5 */
.filter-team {
  filter: saturate(200%);
}

/* Карточка 6 */
.filter-surprise {
  filter: grayscale(100%);
}

/* Карточка 7 */
.filter-anger {
  filter: contrast(150%) hue-rotate(90deg);
}

/* focus hover before buttons */

.button:focus:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--themes-main-color);
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--themes-main-color);
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--themes-main-color);
  inset: 0;
  translate: -100% 0%;
  transition: 0.5s ease-in-out;
}

.button:hover::before {
  translate: 0% 0%;
}
