/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --bg-grad: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(0.5turn, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
  --Inter: "Inter", sans-serif;
  --PressStart2P: "PressStart2P", sans-serif;
  --clamp: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --h1-clamp: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --h2-clamp: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --border: inset 0 0 0 2px #000000;
  --s-size: 410;
  --l-size: 715;
  --white: #ffffff;
  --black: #000000;
  --animation-fill-color: #ff0000;
}
