/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* шрифты */
  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P", sans-serif;

  /* Веса шрифта Inter */
  --main-font-weight: 400;
  --title-font-weight: 700;

  /* Цвета */
  --accent-color: #000;
  --text-stroke-color: #fff;
  --button-text-color: #fff;
  --heart-contour-color: #000;
  --heart-fill-color: #ff0000;

  /* Размеры */
  --content-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  --header__title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header__subtitle-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

  /* Фон */
  --background-color: #fff;
  --background-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
}
