/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* background and colors */
  --themes-background: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  --themes-main-color: #000000;
  --themes-accent-color: #000000;
  --background-color: #ffffff;
  --contour-heart-color: #000000;
  --main-body-heart-color: #000000;
  --sparks-heart-color: #ff0000;
  --floppy-color: #ffffff;

  /* fonts */
  --main-font-family: "Inter", sans-serif;
  --accent-font-family: "PressStart2P", sans-serif;

  /* sizes */
  --content-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --header-title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-subtitle-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

  /* bolds */
  --font-weight-text: 400;
  --font-weight-title: 700;

  /* animation styles hearts */
  --animation-fill-color: #ff0000;
}
